* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 90%;
  max-width: 900px;
  padding: 30px;
}

#app > * {
  margin-bottom: 20px;
}

div > * {
  margin-bottom: 10px;
}

img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

button {
  margin-right: 20px;
}

.black {
  color: black;
}

.red {
 color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.pink {
  color: deeppink;
}

